@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
  font-size: 62.5%;
  font-family: sans-serif;

  --light-blue-color: #2196f3;
  --dark-blue-color: #182c8f;
  --darker-blue-color: #0B185E;
  --light-gold-color: #be9308;
  --dark-gold-color: #8c6d06;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: auto;
  min-height: 100vh;
  font-size: 1.8rem;
}

.corpo-mensagem {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	height: 60px;
	width: 500px;
	font-size: 20px;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
}

.mensagem-sucesso {
	background-color: rgba(0, 128, 0, 0.8);
}

.mensagem-erro {
	background-color: rgba(196, 52, 45, 0.8);
}

.esconder-mensagem {
	display: none;
}

.section1 {
  width: 60%;
}

.section2 {
  width: 40%;
  background: var(--dark-blue-color);
  color: #fff;
}

.pagina-home .section2 {
    background-image: url("../imagens/bg-home.svg");
}

.pagina-home .edit-perfil {
	background-image: url("../imagens/bg-perfil.svg");
}

.pagina-trilha {
	background-image: url("../imagens/bg-trilha.svg");
}

.pagina-trilha .edit-perfil {
	background: transparent;
}

.pagina-cadastro .section1,
.pagina-home .section1 {
  background: var(--dark-blue-color);
  color: #fff;
}

.pagina-cadastro .section2 {
  background: #fff;
  color: var(--dark-blue-color);
}

.section1,
.section2 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pagina-login .section1 .system-name,
.pagina-cadastro .section1 .system-name{
  font-size: 10rem;
  color: var(--dark-blue-color);
}

.system-name {
  font-family: 'Bungee', sans-serif;
}

.pagina-cadastro .section1 .system-name {
  color: #fff;
}

.logo-l {
  width: 35%;
}

.logo-m {
  width: 25%;
}

.section2 form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.pagina-cadastro .section2 form {
  width: 70%;
}

.pagina-cadastro .section2 .area-senha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagina-cadastro .section2 .area-senha span {
  width: 48%;
}

.pagina-cadastro .section2 .area-senha span input {
  width: 100%;
}

.pagina-cadastro .section2 .area-sexo {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.pagina-cadastro .section2 .area-sexo input[type="radio"] {
  --radio-size: 1.5rem;
  height: var(--radio-size);
  width: var(--radio-size);
}

.pagina-cadastro .section2 .area-sexo label {
  display: flex;
  align-items: center;
  height: 1.6rem;
}

.pagina-cadastro .section2 .area-sexo label:not(:last-of-type) {
  margin-right: 10%;
}

.section2 form input {
  line-height: 2.5rem;
  padding: .5rem 1rem;
  font-size: 1.8rem;
  border-radius: 50px;
}

.section2 form a,
.section2 form p {
  font-size: 1.4rem;
  color: inherit;
  transition: ease-in-out .2s;
}

.section2 form a:hover {
  color: var(--light-blue-color);
}

.pagina-login .section2 form input:not(:last-of-type),
.pagina-cadastro .section2 form input,
.section2 form a {
  margin-bottom: 2rem;
}

.section2 form input,
.section2 form button {
  border: 1px solid var(--light-blue-color);
}

.section2 form :focus {
  outline: 1px solid var(--light-blue-color);
  border-radius: 50px;
}

.section2 form button {
  margin-top: 1rem;
  height: 5rem;
  width: 17rem;
  border-radius: 50px;
  align-self: center;
  font-size: 1.8rem;
  cursor: pointer;
  transition: ease-in-out .2s;
  color: #000;
}

.section2 form button:hover {
  background: var(--light-blue-color);
  color: #fff;
}

.pagina-home .section1 {
  width: 20%;
  gap: 4rem;
  justify-content: flex-start;
}

.pagina-home .section2 {
  width: 80%;
  max-height: 100vh;
}

.pagina-home .system-name {
  font-size: 5rem;
}

.pagina-home .user-icon {
  --icon-size: 15rem;
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: 50%;
}

.pagina-home .user-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

.pagina-home .user-name {
  font-size: 2.5rem;
}

.pagina-home .user-username {
  font-size: 1.6rem;
}

.pagina-home .user-xp {
  margin: -1.5rem 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 55%;
  border: 1px solid #C121E1;
  border-radius: 50px;
  padding: 1rem;
  gap: 1rem;
  background: #C121E1;
  background: linear-gradient(135deg, #C121E1, #C9BBA6);
}

.pagina-home .user-options {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.pagina-home .user-options button {
  padding: .5rem 1rem;
  height: 5rem;
  width: 15rem;
  border-radius: 10px;
  font-size: 1.8rem;
  border: 1px solid #1565c0;
  transition: ease-in-out .2s;
  cursor: pointer;
  background: var(--light-blue-color);
  color: #fff;
}

.pagina-home .user-options button:hover {
  background: #1565c0;
}

.pagina-home .user-options button:focus {
  outline: 1px solid var(--light-blue-color);
}

.pagina-home .user-options a.logout-button {
  color: #ff0000;
}

.pagina-home .user-options a.logout-button:hover {
  color: #ff4d4d;
}

.edit-perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  background: var(--light-blue-color);
  padding: 2rem;
  border-radius: 25px;
}

.edit-perfil-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.edit-perfil-container form button:hover {
  background: var(--dark-blue-color);
}

.edit-perfil-container .area-sexo label:not(:last-of-type) {
	margin-right: 10%;
}

/* INPUT DE SENHA COM VISUALIZADOR */
.password-container {
  position: relative;
  display: inline-block;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  padding-right:  30px; /* Espaço para o ícone */
  width: 100%;
}

.togglePassword {
  position: absolute;
  right:  15px;
  top:  50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--dark-blue-color);
}

.pass-view-cadastro .togglePassword {
  top: 32%;
}
/* FIM */

.trilha-container {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: space-evenly;
  flex-direction: column;
}

.trilha-container h1,
.trilha-container h2,
.trilha-container div {
	width: 100%;
}

.trilha-container h1 {
	text-align: center;
}

.trilha-container div {
	display: flex;
	justify-content: space-between;
}

.trilha-container div:nth-child() {
  width: 50%;
}

.botao-jogar {
	height: 6rem;
	width: 12rem;
	padding: 1rem;
	font-size: 1.8rem;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	background: var(--light-gold-color);
	cursor: pointer;
	transition: ease-in-out .2s;
	color: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px #000000; 
	box-shadow: 0px 0px 2px 0px #000000;
}

.botao-jogar:hover {
	background: var(--dark-gold-color);
}

/* Dashboard */
.conteudo-dashboard {
  height: 80%;
  width: 90%;
  border-radius: 20px;
  padding: 1.5rem 1rem;
  background: var(--light-blue-color);
  overflow-y: auto;
}

.conteudo-dashboard ::-webkit-scrollbar {
  width: 10px;
}

.conteudo-dashboard ::-webkit-scrollbar-track {
  background: var(--light-blue-color);
  border-radius: 20px;
}

/* Handle */
.conteudo-dashboard ::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color);
  border-radius: 20px;
}

.sessao-oculta {
  display: none !important;
}

.ativo {
  background: #1565c0 !important;
  cursor: default !important;
}

/* Seções específicas */
#alunos, #questoes {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#alunos table,
#questoes table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

#alunos table td,
#questoes table td,
#alunos table th,
#questoes table th {
  border: 1px solid var(--dark-blue-color);
  padding: .5rem;
  text-align: center;
}

#questoes table td ul li {
	margin-left: 2rem;
	text-align: left;
}

#alunos h2, #questoes h2 {
  font-size: 18px;
}

/* Página do jogo */
.botao-voltar,
.botao-proxima {
  padding: 0 1rem;
  position: absolute;
  color: var(--light-gold-color);
  cursor: pointer;
  transition: ease-in-out .2s;
}

.botao-voltar:hover,
.botao-proxima:hover {
  color: var(--dark-gold-color);
}

.botao-voltar {
  left: 1rem;
  top: 1rem;
  font-size: 5rem;
}

.botao-proxima,
.botao-fechar {
  font-size: 8rem;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
 }

.botao-proxima {
  right: 1rem;
  top: calc(50% - 4rem);
}

.pagina-jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../imagens/bg-jogo.svg") bottom;
  background-size: cover;
}

.pagina-jogo .jogo-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.pagina-jogo .jogo-pergunta {
  height: 60rem;
  width: 100%;
  padding: 3rem;
  border-radius: 20px;
  background: url("../imagens/bg-pergunta.svg") bottom;
}

.jogo-pergunta div {
  display: flex;
  width: 100%;
  height: 70%;
  background: #fff;
  border-radius: 20px;
  padding: 1rem;
}

.jogo-pergunta img {
  height: 30%;
}

.pagina-jogo .jogo-respostas {
  width: 100%;
}

.jogo-opcoes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.jogo-opcoes input {
  display: none;
}

.jogo-opcoes label {
  height: 8rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: var(--darker-blue-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.jogo-opcoes input:checked + label {
  background: var(--dark-blue-color);
  border: 3px solid var(--light-gold-color);
}

.correta {
	border: 3px solid green !important;
}

.errada {
	border: 3px solid red !important;
}

/* modal de cadastrar questão */
.questao-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.questao-form input {
	line-height: 2rem;
	font-size: 1.8rem;
}

.questao-form-btns {
	width: 100%;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.button-questao {
	height: 4rem;
	font-size: 1.8rem;
	cursor: pointer;
	border-radius: 10px;
	transition: ease-in-out .2s;
	padding: 0 .5rem;
	background: var(--light-blue-color);
	color: #fff;
}

.button-questao:hover {
	background: var(--dark-blue-color);
}

.nova-questao-btn {
	background: var(--dark-blue-color);
	transition: ease-in-out .2s;
	font-size: 1.8rem;
	color: #fff;
	cursor: pointer;
	padding: .5rem;
	border-radius: 10px;
}

.nova-questao-btn:hover {
	background: var(--darker-blue-color);
}

.progresso-container {
	width: 10rem;
	position: absolute;
	top: 2rem;
	right: calc(50% - 5rem);
	display: flex;
	justify-content: center;
	text-align: center;
	border: 1px solid #C121E1;
	border-radius: 50px;
	padding: 1rem;
	gap: 1rem;
	background: #C121E1;
	background: linear-gradient(135deg, #C121E1, #C9BBA6);
}